@using System.Data
@{
    ViewBag.Title = "DonerDetails";
}

<h2>Doner Report</h2>
<html>
<head>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <table style="width:100%">
        <tr>
            <th>Donate Date</th>
            <th>Blood Grop</th>
            <th>Email</th>
            <th></th>
        </tr>
        @foreach (DataRow row in Model.dt.Rows)
        {
            <tr>
                <td>
                    @{
                        var i = Convert.ToDateTime(row["DonateDate"]).ToString("dd-MM-yyyy");
                    }
                    @i
                </td>
                <td>@row["BloodGrop"]</td>
                <td>@row["email"]</td>
                <td>
                    <button type="button" style="background-color: #d1d0f9" onclick="location.href='@Url.Action("DeatailReport","Home",new {id = @row["id"]})'"><span>Detail Report</span></button>
                </td>
            </tr>
        }
    </table>
</body>
</html>
