
@{
    ViewBag.Title = "Status";
}

<div class="row">
    <div class="col-md-12" style="text-align:center">
        <br />
        <h2><label id="lblStatus"/>@Session["Status"]</h2>
        <br />
    </div>
</div>
<div class="row">
    <div class="col-md-12" style="text-align:center">
        <button type="button" style="background-color: #d1d0f9" onclick="location.href='@Url.Action("Back","Home")'"><span>Back</span></button>
    </div>
</div>

